@charset "UTF-8";

body {
  font-family: "Work Sans", sans-serif;
  /*Section Fix*/
  /*Ancore*/
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  margin: 0;
}
body p {
  color: rgba(36, 36, 37, 0.702);
  margin: 0;
  font: 400 16px/30px "Work Sans", sans-serif;
}
body ul {
  margin: 0;
  padding: 0;
}
body ul li {
  list-style: none;
}
body section.row, body header.row, body footer.row {
  margin: 0;
}
body #success {
  display: none;
}
body #error {
  display: none;
}
body iframe {
  border: none;
}
body i:before {
  margin-left: 0px !important;
}
body a, body .btn, body button {
  outline: none;
  transition: all 300ms linear 0s;
}
body a:before, body a:after, body .btn:before, body .btn:after, body button:before, body button:after {
  transition: all 300ms linear 0s;
}
body a:focus, body a:hover, body .btn:focus, body .btn:hover, body button:focus, body button:hover {
  outline: none;
  text-decoration: none;
  transition: all 300ms linear 0s;
}
.max{
  padding-left: 150px;
}
.max_header{
      padding: 0 155px 0 152px;
}
#parallax {
  overflow: hidden;
  display: block;
}


/*----------------------------------------------------*/
/* Bottom to Top key frame*/
@-webkit-keyframes BottomToTop {
  49% {
    -webkit-transform: translateY(-100%);
  }

  50% {
    opacity: 0;
    -webkit-transform: translateY(100%);
  }

  51% {
    opacity: 1;
  }
}
@-moz-keyframes BottomToTop {
  49% {
    -moz-transform: translateY(-100%);
  }

  50% {
    opacity: 0;
    -moz-transform: translateY(100%);
  }

  51% {
    opacity: 1;
  }
}
@keyframes BottomToTop {
  49% {
    transform: translateY(-100%);
  }

  50% {
    opacity: 0;
    transform: translateY(100%);
  }

  51% {
    opacity: 1;
  }
}
/* DoublePulse */
@-webkit-keyframes doublePulse {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes doublePulse {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
/*----------------------------------------------------*/
/* Min header area */
.main_header_area {
  display: block;
  width: 100%;
  z-index: 9999;
  position: absolute;
  padding-top: 55px;
}
.main_header_area .header_menu {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}
.main_header_area .header_menu .navbar {
  padding: 0;
  width: 100%;
  display: inline-block;
}
.main_header_area .header_menu .navbar .navbar-brand {
  line-height: 55px;
  padding: 0;
}
.main_header_area .header_menu .navbar .navbar_supported {
  float: right;
}
.main_header_area .header_menu .navbar .navbar_supported ul {
  width: 100%;
  padding-left: 32px;
}
.main_header_area .header_menu .navbar .navbar_supported ul li a {
  margin: 0 20px;
  padding: 0;
  color: #fff;
  font: 400 23px/55px "Work Sans", sans-serif;
  letter-spacing: 0.25px;
  position: relative;
  text-transform: uppercase;
}
.main_header_area .header_menu .navbar .navbar_supported ul li a:hover, .main_header_area .header_menu .navbar .navbar_supported ul li a:focus, .main_header_area .header_menu .navbar .navbar_supported ul li a.active {
  color: rgba(225, 225, 225, 0.8);
}
.main_header_area .header_menu .navbar .navbar_supported ul li a:after {
  display: none;
}
.main_header_area .header_menu .navbar .navbar_supported ul li.dropdown {
  position: relative;
}
.main_header_area .header_menu .navbar .navbar_supported ul li.dropdown .dropdown-menu {
  margin: 0;
  padding: 0;
  border-radius: 10px;
  box-shadow: 0px 0px 34px 0px rgba(167, 120, 255, 0.35);
  /* Sub dropdown */
}
.main_header_area .header_menu .navbar .navbar_supported ul li.dropdown .dropdown-menu:before {
  content: "\f0d8";
  font: normal normal normal 30px/1 FontAwesome;
  position: absolute;
  top: -17px;
  left: 25px;
  color: #fff;
}
@media (min-width: 991px) {
  .main_header_area .header_menu .navbar .navbar_supported ul li.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    left: -40px;
    min-width: 240px;
    background-color: #fff;
    opacity: 0;
    transition: all 300ms ease-in;
    visibility: hidden;
    display: block;
    border: none;
  }
}
.main_header_area .header_menu .navbar .navbar_supported ul li.dropdown .dropdown-menu a {
  background-color: transparent;
  font: 400 16px/40px "Work Sans", sans-serif;
  color: rgba(36, 36, 37, 0.702);
  margin: 0;
  display: block;
  padding: 0 20px;
  position: relative;
}
.main_header_area .header_menu .navbar .navbar_supported ul li.dropdown .dropdown-menu a:before {
  content: "";
  position: absolute;
  left: 16px;
  top: 18px;
  border: 0;
  width: 5px;
  height: 5px;
  background: #8c4eff;
  border-radius: 50%;
  opacity: 0;
}
.main_header_area .header_menu .navbar .navbar_supported ul li.dropdown .dropdown-menu a:hover, .main_header_area .header_menu .navbar .navbar_supported ul li.dropdown .dropdown-menu a:focus, .main_header_area .header_menu .navbar .navbar_supported ul li.dropdown .dropdown-menu a.active {
  color: #b76dfe;
  padding-left: 30px;
}
.main_header_area .header_menu .navbar .navbar_supported ul li.dropdown .dropdown-menu a:hover:before, .main_header_area .header_menu .navbar .navbar_supported ul li.dropdown .dropdown-menu a:focus:before, .main_header_area .header_menu .navbar .navbar_supported ul li.dropdown .dropdown-menu a.active:before {
  opacity: 1;
}
.main_header_area .header_menu .navbar .navbar_supported ul li.dropdown .dropdown-menu > .dropdown {
  position: relative;
}
.main_header_area .header_menu .navbar .navbar_supported ul li.dropdown .dropdown-menu > .dropdown a:after {
  border: 0;
}
.main_header_area .header_menu .navbar .navbar_supported ul li.dropdown .dropdown-menu > .dropdown:after {
  content: "\f105";
  position: absolute;
  top: 0;
  right: 20px;
  font: normal normal normal 15px/48px FontAwesome;
  color: #8c4eff;
}
.main_header_area .header_menu .navbar .navbar_supported ul li.dropdown .dropdown-menu > .dropdown .dropdown-menu {
  display: block;
}
.main_header_area .header_menu .navbar .navbar_supported ul li.dropdown .dropdown-menu > .dropdown .dropdown-menu:before {
  content: "\f0d9";
  font: normal normal normal 30px/1 FontAwesome;
  color: rgba(0, 0, 0, 0.05);
  top: 7px;
  left: -10px;
}
@media (min-width: 991px) {
  .main_header_area .header_menu .navbar .navbar_supported ul li.dropdown .dropdown-menu > .dropdown .dropdown-menu {
    transform: translateZ(0);
    transform: scaleX(0);
    transform-origin: 0 50%;
    position: absolute;
    left: 100%;
    right: auto;
    width: auto;
    top: 0px;
  }
}
@media (min-width: 991px) {
  .main_header_area .header_menu .navbar .navbar_supported ul li.dropdown .dropdown-menu > .dropdown:hover .dropdown-menu, .main_header_area .header_menu .navbar .navbar_supported ul li.dropdown .dropdown-menu > .dropdown:focus .dropdown-menu {
    transform: scale(1, 1);
  }
}
@media (min-width: 991px) {
  .main_header_area .header_menu .navbar .navbar_supported ul li.dropdown:hover .dropdown-menu, .main_header_area .header_menu .navbar .navbar_supported ul li.dropdown:focus .dropdown-menu {
    left: 0px;
    visibility: visible;
    opacity: 1;
  }
}
.main_header_area .header_menu .navbar .navbar_supported ul li .theme_btn {
  background: #fff;
  color: #8e64dc;
  min-width: 136px;
  margin-right: 0;
  margin-left: 30px;
}
.main_header_area .header_menu .navbar .navbar_supported ul li .theme_btn:hover, .main_header_area .header_menu .navbar .navbar_supported ul li .theme_btn:focus {
  color: #fff;
  background: #b76dfe;
}
.main_header_area .header_menu .navbar .navbar_supported ul li .menu-opener {
  padding-left: 5px;
  cursor: pointer;
}
.main_header_area .header_menu .navbar .navbar_supported ul li .menu-opener i:before {
  color: #9a97b9;
  font-size: 40px;
}
.main_header_area.navbar_fixed {
  position: fixed;
  width: 100%;
  top: -70px;
  left: 0;
  right: 0;
  z-index: 99999;
  padding: 0;
  background: #fff;
  box-shadow: 0px 0px 34px 0px rgba(167, 120, 255, 0.35);
  transform: translateY(70px);
  transition: transform 500ms ease, background 200ms ease;
  -webkit-transition: transform 500ms ease, background 200ms ease;
}
.main_header_area.navbar_fixed .navbar .navbar_supported ul li a {
  line-height: 50px;
  color: #282828;
}
.main_header_area.navbar_fixed .navbar .navbar_supported ul li a:hover, .main_header_area.navbar_fixed .navbar .navbar_supported ul li a:focus {
  color: #8c4eff;
}
.main_header_area.navbar_fixed .navbar .navbar_supported ul li a.theme_btn {
  background: #b76dfe;
  color: #fff;
}
.main_header_area.navbar_fixed .navbar .navbar_supported ul li a.menu-opener i:before {
  line-height: 20px;
  position: relative;
  top: 8px;
}
.main_header_area.navbar_fixed .header_menu {
  padding: 5px 0;
}
.main_header_area.navbar_fixed .header_menu .navbar .navbar-brand {
  line-height: 50px;
}

.mha_2 .header_menu .navbar .navbar_supported ul li a {
  color: #282828;
}
.mha_2 .header_menu .navbar .navbar_supported ul li a:hover, .mha_2 .header_menu .navbar .navbar_supported ul li a:focus {
  color: #b76dfe;
}
.mha_2 .header_menu .navbar .navbar_supported ul li a.theme_btn {
  background: #b76dfe;
  color: #fff;
}
.mha_2 .header_menu .navbar .navbar_supported ul li a.theme_btn:hover, .mha_2 .header_menu .navbar .navbar_supported ul li a.theme_btn:focus {
  background: #8c4eff;
  color: #fff;
}

.mha_3 .header_menu .navbar .navbar_supported ul li a.theme_btn {
  background: none;
  background-image: linear-gradient(to right, #ac7ffe 0%, #fda3be 51%, #ac7ffe 100%);
  transition: 0.5s;
  background-size: 200% auto;
}
.mha_3 .header_menu .navbar .navbar_supported ul li a.theme_btn:hover, .mha_3 .header_menu .navbar .navbar_supported ul li a.theme_btn:focus {
  background-position: right center;
}

/* Min header area */

.toggle_menu {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 250px;
  transform: scaleX(0);
  transform-origin: 100% 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  background: #fff;
  box-shadow: 1px 0px 7px 0px rgba(22, 43, 70, 0.1);
  z-index: 99999;
}
.toggle_menu li:first-child a {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.toggle_menu a {
  background-color: transparent;
  font: 400 18px/45px "Work Sans", sans-serif;
  color: rgba(36, 36, 37, 0.702);
  margin: 0;
  display: block;
  padding: 0 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  position: relative;
}
.toggle_menu a:before {
  content: "";
  position: absolute;
  left: 16px;
  top: 21px;
  border: 0;
  width: 5px;
  height: 5px;
  background: #8c4eff;
  border-radius: 50%;
  opacity: 0;
}
.toggle_menu a:hover, .toggle_menu a:focus, .toggle_menu a.active {
  color: #b76dfe;
  padding-left: 30px;
}
.toggle_menu a:hover:before, .toggle_menu a:focus:before, .toggle_menu a.active:before {
  opacity: 1;
}
.toggle_menu .dropdown .dropdown-toggle:after {
  content: "\f107";
  position: absolute;
  top: 0;
  border: 0;
  right: 30px;
  font: normal normal normal 15px/45px FontAwesome;
  color: #8c4eff;
}
.toggle_menu .dropdown ul li:first-child a {
  border-top: 0;
}
.toggle_menu .toggle_logo {
  text-align: center;
  display: block;
  padding: 20px 0 !important;
}
.toggle_menu .toggle_logo:before {
  display: none;
}
.toggle_menu.active {
  transform: scaleX(1);
}

/*----------------------------------------------------*/
/* Banner_area */
.banner_area {
  background: url(../images/top-banner-bg-2.png) no-repeat top right;
  background-size: contain;
  display: block;
  overflow: hidden;
  /*  padding: 365px 0 230px; */
  padding: 372px 0 263px;
  position: relative;
  z-index: 1;
}
.banner_area .banner_bg {
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
  z-index: -1;
}
.banner_area .layer_1 {
  position: absolute;
  left: 115px !important;
  top: 470px !important;
  z-index: -1;
}
.banner_area .layer_2 {
  position: absolute;
  left: 270px !important;
  top: 250px !important;
  z-index: -1;
}
.banner_area h2 {
  /* font: 700 65px/75px "Work Sans", sans-serif; */
  font: 700 70px/100px "Work Sans", sans-serif;
  color: #3F4370;
  /*  max-width: 620px; */
  padding-top: 20px;
  max-width: 750px;

}
.banner_area p {
    font: 600 30px/38px "Muli", sans-serif;
    color: rgba(41, 41, 41, 0.8);
    /* max-width: 874px; */
    padding-top: 55px;
    padding-bottom: 130px;
}

.ba_2 {
  background: none;
  padding-bottom: 165px;
}
.ba_2 .banner_img {
  position: absolute;
  right: 0;
  top: 255px;
  z-index: -1;
  max-width: 100%;
}

.ba_3 {
  background: none;
  padding-bottom: 180px;
}
.ba_3 .container {
  position: relative;
}
.ba_3 .container .layer_2 {
  right: 100px;
  top: -100px !important;
  left: auto !important;
}
.ba_3 h2 {
  max-width: 680px;
  padding-bottom: 170px;
  padding-top: 60px;
}
.ba_3 .banner_img {
  position: absolute;
  right: 0;
  top: 255px;
  z-index: -1;
  max-width: 100%;
}

/* Banner_area */


/*----------------------------------------------------*/
/* Services_area */
/*----------------------------------------------------*/

.services_area {
  display: block;
  padding-top: 170px;
  position: relative;
  padding-bottom: 80px;
  z-index: 1;
}
.services_area .layer_1 {
  top: -130px !important;
  width: 100%;
  z-index: -1;
  position: absolute !important;
}
.services_area h2 {
      font: 52px/62px "Work Sans", sans-serif;
    color: #434672;
    letter-spacing: 1px;
    font-weight: bold;
  position: relative;
  text-align: center;
  z-index: 1;
}

.services_area .services_row {
  padding-top: 115px;
}
.services_area .services_row .services_items {
  padding: 60px 45px 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 30px 0px rgba(170, 130, 244, 0.35);
  margin-bottom: 30px;
}
.services_area .services_row .services_items .services_icons {
  background: #aa82f4;
  width: 52px;
  height: 50px;
  text-align: center;
  border-radius: 10px;
}
.services_area .services_row .services_items .services_icons i:before {
  line-height: 50px;
  color: #fff;
  font-size: 21px;
}
.services_area .services_row .services_items .si_2 {
  background: #a1a9fa;
}
.services_area .services_row .services_items .si_3 {
  background: #ff8d68;
}
.services_area .services_row .services_items .si_4 {
  background: #2e91fc;
}
.services_area .services_row .services_items .si_5 {
  background: #d0edef;
}
.services_area .services_row .services_items .si_6 {
  background: #77dedd;
}
.services_area .services_row .services_items .media-body {
  padding-left: 30px;
}
.services_area .services_row .services_items .media-body a {
  font: 700 24px/1 "Muli", sans-serif;
  color: #537097;
}
.services_area .services_row .services_items .media-body a:hover, .services_area .services_row .services_items .media-body a:focus {
  color: #aa82f4;
}
.services_area .services_row .services_items .media-body p {
  font-family: "Muli", sans-serif;
  font-size: 15px;
  padding-top: 25px;
}

.sa_2 {
  padding-top: 120px;
  padding-bottom: 30px;
}

.sa_3 {
  padding-bottom: 140px;
}
 /*----------------------------------------------------*/
/* End Services_area */
 /*----------------------------------------------------*/

/*----------------------------------------------------*/
/* Start About Section */
 /*----------------------------------------------------*/
.best_agency_area {
  background-color: #f5f7ff;
     padding: 30px 0 60px 0px;
 }
 .best_agency_area .agency_text {
   padding-top: 130px;
   padding-left: 130px;
 }
 .best_agency_area .agency_text h2 {
     font: 52px/62px "Work Sans", sans-serif;
     color: #434672;
     position: relative;
     letter-spacing: 1.5px;
     font-weight: bold;
     z-index: 1;
     margin-bottom: 20px;
 }
 .best_agency_area .agency_text h2:after {
   content: "About Agency";
   font: 700 100px/1 "Dancing Script", cursive;
   color: #f2f9ff;
   position: absolute;
   left: -40px;
   text-align: center;
   bottom: 0;
   z-index: -1;
 }
 .best_agency_area .agency_text p {
  /* font: 400 22px/38px "Work Sans", sans-serif; */
   font: 500 25px/40px "Work Sans", sans-serif;
   color: rgba(36, 36, 37, 0.702);
   max-width: 585px;
   padding-top: 50px;
 }
 .best_agency_area strong{
     font: 25px/35px "Work Sans", sans-serif;
     color: #434672;
     letter-spacing: 1.3px;
     font-weight: bold;
 }
 
 .best_agency_area .agency_text a {
   letter-spacing: 2px;
   margin-top: 90px;
 }
 .best_agency_area .agency_img {
   padding-top: 55px;
   padding-left: 0;
 }
 
  /*----------------------------------------------------*/
 /* End About Section */
 /*----------------------------------------------------*/


 /*----------------------------------------------------*/
/* START Feature_work_Section */

.feature_work_area {
  display: block;
  overflow: hidden;
  position: relative;
      padding: 160px 0 155px 0;
}
.feature_work_area .layer_1 {
  top: 320px !important;
  left: 0 !important;
}
.feature_work_area .tittle {
      margin-bottom: 75px;
    font: 52px/62px "Work Sans", sans-serif;
    color: #434672;
    letter-spacing: 1.2px;
    font-weight: bold;
}

.feature_work_area .feature_img img {

}
.feature_work_area .feature_content {
  padding-left: 35px;
  padding-top: 135px;
}
.feature_work_area .feature_content h2 {
    color: #7c3197;
    letter-spacing: 1.4px;
    font: 52px/60px "Work Sans", sans-serif;
    font-weight: bold;
}
.feature_work_area .feature_content p {
    /* font: 400 19px/38px "Muli", sans-serif; */
    font: 500 25px/40px "Work Sans", sans-serif;
    color: rgba(36, 36, 37, 0.702);
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 100px;
}
.feature_work_area .feature_content .theme_btn {
  min-width: 280px;

}
.feature_work_area .feature_content .theme_btn_googleplay{
  min-width: 280px;
  cursor: pointer;
  border-radius: 10px;
  /* box-shadow: 0px 8px 30px 0px rgba(170, 130, 244, 0.35); */
    box-shadow: 0px 7px 30px 0px rgba(64, 53, 92, 0.48);
    
}

.fwa_2 {
  padding-bottom: 125px;
}
.fwa_2 .feature_img {
  position: relative;
}
.fwa_2 .feature_img .fetures_bg {
  margin-left: -145px;
  position: relative !important;
}
.fwa_2 .feature_img .fetures_bg + img {
  position: absolute;
  top: 70px;
  left: 0;
  margin: 0;
  border-radius: 10px;
}

.fwa_3 {
  padding-bottom: 80px;
}

/*END Feature_work_section */